
@font-face {
  font-family: "DotGothic16-Regular";
  src: url("../assets/font/DotGothic16-Regular.ttf") format("truetype");
}
body { 
	font-family: "DotGothic16-Regular";
	background: lightgreen; 
	color: green;
	font-size: 30px;
}

p { 
    background: yellow;
}